<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebShop</display-name>
  <welcome-file-list>
    <welcome-file>PocetniServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>
		</description>
    <display-name>
		PocetniServlet</display-name>
    <servlet-name>PocetniServlet</servlet-name>
    <servlet-class>
		servlets.PocetniServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PocetniServlet</servlet-name>
    <url-pattern>/PocetniServlet</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>mytags</taglib-uri>
      <taglib-location>/WEB-INF/mytags.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BrisiKomponentuServlet</display-name>
    <servlet-name>BrisiKomponentuServlet</servlet-name>
    <servlet-class>servlets.BrisiKomponentuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrisiKomponentuServlet</servlet-name>
    <url-pattern>/BrisiKomponentuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajKomponentuServlet</display-name>
    <servlet-name>DodajKomponentuServlet</servlet-name>
    <servlet-class>servlets.DodajKomponentuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajKomponentuServlet</servlet-name>
    <url-pattern>/DodajKomponentuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IzmeniKomponentuServlet</display-name>
    <servlet-name>IzmeniKomponentuServlet</servlet-name>
    <servlet-class>servlets.IzmeniKomponentuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IzmeniKomponentuServlet</servlet-name>
    <url-pattern>/IzmeniKomponentuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajKategorijuServlet</display-name>
    <servlet-name>DodajKategorijuServlet</servlet-name>
    <servlet-class>servlets.DodajKategorijuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajKategorijuServlet</servlet-name>
    <url-pattern>/DodajKategorijuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IzmeniKategorijuServlet</display-name>
    <servlet-name>IzmeniKategorijuServlet</servlet-name>
    <servlet-class>servlets.IzmeniKategorijuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IzmeniKategorijuServlet</servlet-name>
    <url-pattern>/IzmeniKategorijuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BrisiKategorijuServlet</display-name>
    <servlet-name>BrisiKategorijuServlet</servlet-name>
    <servlet-class>servlets.BrisiKategorijuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrisiKategorijuServlet</servlet-name>
    <url-pattern>/BrisiKategorijuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajUredjajServlet</display-name>
    <servlet-name>DodajUredjajServlet</servlet-name>
    <servlet-class>servlets.DodajUredjajServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajUredjajServlet</servlet-name>
    <url-pattern>/DodajUredjajServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IzmeniUredjajServlet</display-name>
    <servlet-name>IzmeniUredjajServlet</servlet-name>
    <servlet-class>servlets.IzmeniUredjajServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IzmeniUredjajServlet</servlet-name>
    <url-pattern>/IzmeniUredjajServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BrisiUredjajServlet</display-name>
    <servlet-name>BrisiUredjajServlet</servlet-name>
    <servlet-class>servlets.BrisiUredjajServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrisiUredjajServlet</servlet-name>
    <url-pattern>/BrisiUredjajServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PretragaKomponenteServlet</display-name>
    <servlet-name>PretragaKomponenteServlet</servlet-name>
    <servlet-class>servlets.PretragaKomponenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PretragaKomponenteServlet</servlet-name>
    <url-pattern>/PretragaKomponenteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PretragaUredjajaServlet</display-name>
    <servlet-name>PretragaUredjajaServlet</servlet-name>
    <servlet-class>servlets.PretragaUredjajaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PretragaUredjajaServlet</servlet-name>
    <url-pattern>/PretragaUredjajaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajNaRacunServlet</display-name>
    <servlet-name>DodajNaRacunServlet</servlet-name>
    <servlet-class>servlets.DodajNaRacunServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajNaRacunServlet</servlet-name>
    <url-pattern>/DodajNaRacunServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrenutniRacunServlet</display-name>
    <servlet-name>TrenutniRacunServlet</servlet-name>
    <servlet-class>servlets.TrenutniRacunServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrenutniRacunServlet</servlet-name>
    <url-pattern>/TrenutniRacunServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KupovinaServlet</display-name>
    <servlet-name>KupovinaServlet</servlet-name>
    <servlet-class>servlets.KupovinaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KupovinaServlet</servlet-name>
    <url-pattern>/KupovinaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IzvestajOdDoServlet</display-name>
    <servlet-name>IzvestajOdDoServlet</servlet-name>
    <servlet-class>servlets.IzvestajOdDoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IzvestajOdDoServlet</servlet-name>
    <url-pattern>/IzvestajOdDoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IzvestajOdDoKategorijaServlet</display-name>
    <servlet-name>IzvestajOdDoKategorijaServlet</servlet-name>
    <servlet-class>servlets.IzvestajOdDoKategorijaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IzvestajOdDoKategorijaServlet</servlet-name>
    <url-pattern>/IzvestajOdDoKategorijaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IzmenaKomponenteServlet</display-name>
    <servlet-name>IzmenaKomponenteServlet</servlet-name>
    <servlet-class>servlets.IzmenaKomponenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IzmenaKomponenteServlet</servlet-name>
    <url-pattern>/IzmenaKomponenteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IzmenaUredjajaServlet</display-name>
    <servlet-name>IzmenaUredjajaServlet</servlet-name>
    <servlet-class>servlets.IzmenaUredjajaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IzmenaUredjajaServlet</servlet-name>
    <url-pattern>/IzmenaUredjajaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IzmenaKategorijeServlet</display-name>
    <servlet-name>IzmenaKategorijeServlet</servlet-name>
    <servlet-class>servlets.IzmenaKategorijeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IzmenaKategorijeServlet</servlet-name>
    <url-pattern>/IzmenaKategorijeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MasterServlet</display-name>
    <servlet-name>MasterServlet</servlet-name>
    <servlet-class>master.MasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterServlet</servlet-name>
    <url-pattern>/MasterServlet</url-pattern>
  </servlet-mapping>
</web-app>